.footer {
    background-color: $black;
    padding: 20px;

    &__copyright {
        font: {
            family: sans-serif;
            size: $font-size;
        }
        color: $white;
    }
}

@media (max-width: 576px){
    .footer__copyright{
        font-size: $font-size;
    }
}