.blog__card-container {
    --bs-card-border-radius: 0;
    margin-top: 30px;
    transition: all 400ms ease;

    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }
}

.post {
    background-color: $white;
    box-shadow: 0 3px 8px $light;
    cursor: pointer;
    --bs-card-border-color: transparent;
    border: 0;

    &__title {
        font: {
            family: $blog-font;
            weight: bold;
        }

        letter-spacing: $letter-spacing+1;
        margin: 0%;
    }
}