.post__img {
    height: 255px;
    object-fit: cover;

    &__creditos {
        font-family: $blog-font;
    }
}

@media (max-width: 576px) {
    .blog-margin {
        margin-top: 0px;
    }

    .post__img {
        height: 170px;
    }
}