.contacto {
    display: flex;
    margin: 45px 0px 35px 0px;

    &__title {
        font: {
            family: sans-serif;
            size: $font-size*2.2;
            weight: 600;
        }

        color: $title;
    }

    &__name,
    &__tel {
        margin-top: 20px;
    }

    &__button {
        @include red-button;
    }
}


@media (max-width: 576px) {
    .contacto {
        &__info-container {
            text-align: center;
        }

        &__title {
            font-size: $font-size + 0.5;
        }

        &__form-container {
            margin-top: 20px;
        }

        &__button {
            width: 100%;
        }

    }

    form {
        padding: 30px;
    }
}