/*SECCIÓN PRODUCTOS DESTACADOS*/
.destacados__title {
    font: {
        family: sans-serif;
        size: $font-size * 2.2;
        weight: 600;
    }

    text-align: center;
    color: $title;
}

.product__button {
    @include golden-button;

    font: {
        weight: 600;
        size: $font-size;
        family: sans-serif;
    }

    text-transform: inherit;
    letter-spacing: $letter-spacing;
    margin: 0;
    border-radius: 4px;
    width: 100%;
}

/*Sección blog*/
.blog {
    padding: 60px 40px;

    &__title {
        font: {
            family: sans-serif;
            size: $font-size*2.2;
            weight: 600;
        }

        color: $title;
        text-align: center;
    }

    &__subtitle {
        font: {
            size: $font-size + 0.25;
            family: $blog-font;
            weight: 200;
        }

        margin-top: 5px;
    }
}

.post__category {
    font-family: $blog-font;
    margin: 0%;
}

/*sección empresas*/
.empresas {
    &__title {
        font: {
            family: sans-serif;
            size: $font-size * 2.2;
            weight: 600;
        }

        color: $title;
        text-align: center;
    }

    &__description-container {
        font-family: $paragraph;
    }

    &__description {
        line-height: 1.5rem;
    }

    &__description-p {
        margin-bottom: 20px;
    }

    &__description-ul {
        line-height: 1.5rem;
    }

    &__button {
        @include red-button;
        margin-bottom: 30px;
    }

    &__img-container {
        text-align: center;
    }

    &__img {
        width: 100%;
    }
}



@media (max-width: 576px) {

    /*destacados del mes*/
    .product__card-margin {
        margin: 20px 30px;
    }

    /*blog*/
    .blog__subtitle {
        font-size: $font-size;
    }

    .post {
        margin-top: 20px;
    }

    /*empresas*/
    .empresas__description {
        text-align: justify;
    }

    .empresas__description-container {
        margin: 0px 15px;
    }
}

@media (max-width: 950px) {

    /*destacados*/
    .product__card-margin {
        margin-bottom: 20px;
    }

    /*empresas*/
    .empresas__description-p {
        text-align: justify;
    }
}