.page__title {
    font: {
        family: $title-2;
        size: $font-size + 3;
    }
}

.productos__title {
    font: {
        family: Roboto, sans-serif;
        weight: 700;
        size: $font-size + 1.5; 
    }

    text: {
        transform: uppercase;
        align: center;
    }

    margin: 3rem 0 2rem 0;
    border-bottom: 5px solid $black;
}

.producto__img {
    height: 304.4px;
    padding: 16px 16px 0px;
}

@media (max-width: 576px) {
    .page__title {
        font-size: $font-size + 1.75; 
    }
}